body{
    text-align: center;
    background: url(img.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    margin-top: 100px;
}
.btn:hover {
    background-color: darkblue;
    color: white;
  }
.btn{
    margin: 10px;
    border: 2px solid white;
    border-radius: 5px;
}  
#list{
    color: white;
}